{% extends "barbell_classes/base.html" %}

{% block content %}
    <h1>Barbell Timetable</h1>
    <div id="calendar"></div>

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet">

    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>

    <!-- JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get the calendar element
            var calendarEl = document.getElementById('calendar');
            // Initialize FullCalendar
            var calendar = new FullCalendar.Calendar(calendarEl, {
                // Configuration options
                initialView: 'dayGridMonth',
                events: '/api/barbellclasses/', // Endpoint for fetching events
                eventClick: function(info) {
                    // Redirect to event detail page on click
                    window.location.href = '/barbellclass/' + info.event.id;
                },
                eventDidMount: function(info) {
                    // Customize event display after it is rendered
                    var eventTime = info.el.querySelector('.fc-time');
                    if (eventTime) {
                        eventTime.style.display = 'none'; // Hide time
                    }
                    info.el.style.cursor = 'pointer'; // Set cursor to pointer
                },
                eventContent: function(arg) {
                    // Customize event content
                    var eventTitle = document.createElement('div');
                    eventTitle.classList.add('event-title');
                    eventTitle.textContent = arg.event.title;
                    return { domNodes: [eventTitle] };
                }
            });
            calendar.render(); // Render the calendar
        });
    </script>

    <!-- CSS Styles -->
    <style>
        .event-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: calc(100% - 20px);
        }
    </style>
{% endblock content %}
