{% extends "barbell_classes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <div class="profile-picture">
        {% if user.profile.image and user.profile.image.url %}
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        {% else %}
            <img class="rounded-circle account-img" src="https://res.cloudinary.com/dyvpfbw4j/image/upload/v1718875416/default.jpg">
        {% endif %}
    </div>

    <!-- Form for updating profile -->
    <form id="updateForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %} <!-- CSRF token for security -->

        <!-- Form fieldset -->
        <fieldset class="form-group"> 
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>

        <!-- Update button -->
        <div class="form-group">
            <button class="btn btn-outline-info" type="button" onclick="confirmUpdate()">Update</button>
        </div>
    </form>
</div>

<script>
    // Function to confirm updates
    function confirmUpdate() {
        if (confirm("Are you sure you want to make these changes?")) {
            document.getElementById("updateForm").submit();
        }
    }
</script>

{% endblock content %}
